@import 'global.scss';

.blog {
  margin: 100px auto !important;
  max-width: 1400px !important;

  .block {
    display: flex;

    .article-img {
      img {
        width: 100%;
        min-width: 500px;
      }
    }

  }

  .block:not(:last-child) {
    margin-bottom: 50px;
  }

  .row {
    flex-direction: row;
  }

  .column {
    flex-direction: column;
  }

  .content-container {
    display: flex;

    justify-content: space-between;

    .selected-article {

      .blog-img-wrapper {

        text-align: center;
        margin: 0 auto;
        display: block;
        max-width: 550px;
        width: auto;
        .blog-img {
          position: relative;
          width: 100%;
          height: 100%;
          height: inherit;
        }
    }
    }

    .suggested-articles {
      &>* {
        margin-bottom: 80px;
      }

      margin-left: 70px;

      .banner {
        margin: 0;
        height: 300px;
        width: 300px;
      }
    }
  }

  .banner {

    width: 100%;
    height: 50vh;
    margin-bottom: 100px;

    .image-placeholder {
      width: 100%;
      height: inherit;
      margin-bottom: 100px;

    }
  }
}


nav {
  width: 100%;
}

@media screen and (max-width: 1670px) {
  .medias-icons {
    position: initial;
    flex-direction: row;
    justify-content: center;

    height: 20px;

    i {
      margin: 0 20px 0 20px;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;

    }
  }


  .contact-side {
    position: initial;
    justify-content: center;
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-rl;
    width: 100%;
    margin-bottom: 20px;

    &::after {
      content: '';
      width: 0;
      height: 0;

    }
  }
}

@media screen and (max-width: 1100px) {
  .content-container {
    flex-wrap: wrap;

    padding: 0 !important;
    .selected-article {

      .blog-img-wrapper {

      }
    }
    .suggested-articles {
      width: 100%;
      margin: 0 !important;
      .preview-article {
        width: 100%;
        margin: auto;

        &> * {
          text-align: center;
        }
          .banner {
            width: 100%;

          }
        }
      
    }
    .block {
      flex-direction: column !important;

      div {
        margin: 10px auto !important;
        padding: 0 !important;
      }

      .article-img {
        img {
          min-width: 0px;
          max-width: 500px;
        }
      }
    }
  }

}