$horizontal-sep-color: lightgray;
$main-font: 'Open Sans', sans-serif;
$important-text-color: hsl(250, 69%, 61%);

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  font-family: $main-font;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: rgb(141, 141, 141);

  margin: 0;
  &> div:first-of-type {
      max-width: 1200px;
      margin: 60px auto;

  }
}

.underline {
  text-decoration: underline;
  text-decoration-color: $important-text-color;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.bold {
  color: black;
  font-weight: bolder;
}

.numbered {
  color: $important-text-color;
}

.medias-icons {
  position: fixed;
  bottom: 50px;
  left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: inherit;
    &:hover {
      color: $important-text-color;
    }

  i {
    margin-bottom: 50px;
  }
  }

  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 100px;
    background-color: black;
  }
}

.contact-side {
  z-index: 2;
  position: fixed;
  top: 50px;
  right: 5vw;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 100px;
    background-color: black;
    margin-bottom: 30px;
  }

  .contact-email {
    text-decoration: none !important;
    color: inherit;
    &:hover {
      color: $important-text-color;
    }
  }
}

.title {
  margin-bottom: 40px;
  &::after {
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 10px;
    left: 25px;
  }
}

.heading-1 {
  font-size: 2em;
}

.heading-2 {
  font-size: 1.7em;
}


@media screen and (max-width: 1440px) {

  body {
    & > div:first-of-type {
      margin: 50px;
    }
  }
    .medias-icons {
      position: initial;
      flex-direction: row;
      justify-content: center;

      height: 20px;
      i {
        margin: 0 20px 0 20px;
      }
      &::after {
        content: '';
        width: 0;
        height: 0;
        
      }
    }

    .contact-side {
      position: initial;
      justify-content: center;
      -webkit-writing-mode: horizontal-tb;
      writing-mode: horizontal-rl;
      width: 100%;
      margin-bottom: 20px;
      &::after {
        content: '';
        width: 0;
        height: 0;
        
      }
    }
  
}