$horizontal-sep-color: lightgray;
$main-font: 'Open Sans', sans-serif;

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  font-family: $main-font;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 0;
  color: rgb(141, 141, 141);
}

.bold {
  color:black;
  font-weight: bolder;
}

.numbered {
  color: hsl((250), 69%, 61%);
}