@import 'global.scss';


.index {

  margin-right: 220px;
  margin-left: 220px;

  & > * {
    margin-bottom: 40px  ;
  }
  .heading-container {
    display: flex;
  }
 .heading-wrapper {
    display: flex ;
    align-items: center;

    .heading {
      font-size: 35px;
    }
  }
}