<div class="heading-wrapper">
  <div>
    <div class="name-is">
      Bonjour, mon nom est
    </div>
    <div class="portfolio-author bold">
     <%=  heading.author %>
    </div>
    <div class="portfolio-author-description">
      <%=  heading.content %>
    </div>
  </div>
</div>