<div class="heading-wrapper">
  <div>
    <div class="name-is">
      Bonjour, mon nom est
    </div>
    <div class="portfolio-author">
     <%=  heading.author %>
    </div>
    <div>
      <%=  heading.content %>
    </div>
  </div>
</div>