<div class="medias-icons">

  <i class="fa-brands fa-github fa-xl"></i>
  <i class="fa-brands fa-linkedin fa-xl"></i>
  <i class="fa-brands fa-twitter fa-xl"></i>
  <i class="fa-solid fa-envelope fa-xl"></i>
</div>