
<div class="content-skills">
    <h1 class="content-title">
        <%= skills.title %>
    </h1>
    <div class="content-body">
        <div class="skills-list">
            <div class="skills-fields">
                <% for (const skill of skills.items) { %>
                    <div>
                        <%= skill.name %>
                    </div>
                    <% } %>

            </div>
            <div class="skills-items">
                <% for (const skill of skills.items) { %>

                    <div>
                        <%= skill.items.join(', ') %></div>

            <% } %>

        </div>
    </div>

    </div>
</div>