<div class="whereIWork">

  <div class="work-places">
    <% for (let work of works.jobs) { %>

     <!--  <div class="work-body">
        <div class="work-job">
          
        </div>
      </div>
      -->
      <div class="work-name">
        <%= work.job %>

      </div>
      <% } %>
  </div>
  <div>
    
  </div>

</div>