<div class="content-skills">
  <h1 class="content-title">
    <%= skills.title %>
  </h1>
  <div class="content-body">
    <div class="skills-list">
      <table>
        <% for (const skill of skills.items) { %>
          <tr>
            <td class="skills-field">
             <b> <%= skill.name %></b>
            </td>
            <td class="skills-names">
              <%= skill.items.join(', ')%>
                        </td>
                    </tr>
                    <% } %>
        </table>
    </div>

    </div>
</div>
<div class="content-languages">
  <h1 class="content-title">Langues</h1>
  <div class="content-body">
    <div class="skills-list">
      <table>
        <tbody>
          <tr>
            <td class="skills-field"><b>Francais</b></td>
            <td class="skills-names">Bilingue</td>
          </tr>
          <tr>
            <td class="skills-field"><b>Anglais</b></td>
            <td class="skills-names">Avancé niveau B2</td>
          </tr>
          <tr>
            <td class="skills-field"><b>Tamoul</b></td>
            <td class="skills-names">Langue maternelle</td>
          </tr>
          <tr>
            <td class="skills-field"><b>Espagnol</b></td>
            <td class="skills-names">Notions</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="content-certifications">
  <h1 class="content-title">Certifications</h1>
  <div class="content-body">
    <div class="skills-list">
      <table>
        <tbody>
          <tr>
            <td class="skills-field"><b>TOEIC</b></td>
            <td class="skills-names">Résultat : 850/990</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="content-permis">
  <h1 class="content-title">Permis</h1>
  <div class="content-body">
    <div class="skills-list">
      <table>
        <tbody>
          <tr>
            <td class="skills-field"><b>  <div><img src="https://www.viteunsite.com/images-defaut/galerie/permis-b-293b4f-595x595.png" width="40"/></div></b></td>
            <td class="skills-names">Permis B</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>

</div>
<div class="content-hobbies">
  <h1 class="content-title">Centres d'intérêts</h1>
  <div class="content-body">
    <div class="skills-list">

           Cinema, musique, jeux videos

    </div>
  </div>
</div>
