<div class="content-skills">
  <h1 class="content-title">
    <%= skills.title %>
  </h1>
  <div class="content-body">
    <div class="skills-list">
      <table>
        <% for (const skill of skills.items) { %>
          <tr>
            <td class="skills-field">
              <%= skill.name %>
            </td>
            <td class="skills-names">
              <%= skill.items.join(', ')%>
                        </td>
                    </tr>
                    <% } %>
        </table>
    </div>

    </div>
</div>
<div class="content">
  <h1 class="content-title">Certifications</h1>
  <div class="content-body">
    <div class="skills-list">
      <table>
        <tbody>
          <tr>
            <td class="skills-field"><b>TOEIC</b></td>
            <td class="skills-names">Résultat : 850/990</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>